
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
	<title>404 HTML Template by Colorlib</title>
	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Kanit:200" rel="stylesheet">

	<!-- Font Awesome Icon -->
	<link href="~/user/pagenotfound/css/font-awesome.min.css" rel="stylesheet" />
	<!-- Custom stlylesheet -->
	<link href="~/user/pagenotfound/css/style.css" rel="stylesheet" />
</head>

<body>

	<div id="notfound">
		<div class="notfound">
			<div class="notfound-404">
				<h1>404</h1>
			</div>
			<h2>Oops! Nothing was found</h2>
			<p>Trang bạn đang tìm kiếm tạm thời không có sẵn. Kiểm tra kết nối Internet của bạn hoặc kiểm tra bạn đã đăng nhập chưa ?<a href="~/Home">Trở lại trang chủ</a></p>
		</div>
	</div>
</body>
</html>


