
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<!--================Login Box Area =================-->
<section class="login_box_area section_gap organic-breadcrumb" style="padding-top:160px;">
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="~/user/img/logologin.jpg">
					<div class="hover">
						<h3><b>WELLCOME TO NGOCNGUYEN SPORT</b></h3>
						<p> NÂNG NIU BÀN CHÂN VIỆT ! </p>
						<a class="primary-btn" href="~/Login/SignUp">Create an Account</a>
					</div>
				</div>
			</div>
			<div class="col-lg-6">
				<div class="login_form_inner" style="padding-top:100px;height: 456px;">
					<h3>Log in or Skip</h3>
					<form class="row login_form" action="~/Login/Index" method="get" id="contactForm" novalidate="novalidate">
						<div class="col-md-12 form-group">
							<input type="text" class="form-control" id="name" name="Username" placeholder="Username" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Username'">
						</div>
						<div class="col-md-12 form-group">
							<input type="password" class="form-control" id="name" name="Password" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
						</div>
						<div class="col-md-12 form-group">
							<div class="creat_account">
								<input type="checkbox" id="f-option2" name="selector">
								<label for="f-option2" style="color:white">Keep me logged in</label>
							</div>
						</div>
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="primary-btn">Log In</button>
							<a href="~/Home/Index"><u style="color:white">Skip with a guest</u></a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>

