
@{
    ViewData["Title"] = "ShopProduct";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
@model List<QuanLyBanGiay_ADMIN.Models_User.SanphamHienthi>
<div class="row">
	@foreach (var item in Model)
	{
		<!-- single product -->
		<div class="col-lg-4 col-md-6">
			<div class="single-product">
				<a asp-action="Details" asp-route-id="@item.Masanpham">
					<img class="img-fluid" src="/user/img/product/@item.Anhsp" alt="">
				</a>
				<div class="product-details">
					<h6>
						@item.TenSanpham
					</h6>
					<div class="price">
						<h6>@item.Giagoc</h6>
						<h6 class="l-through">$210.00</h6>
					</div>
					<div class="prd-bottom">

						<a href="" class="social-info">
							<span class="ti-bag"></span>
							<p class="hover-text">add to bag</p>
						</a>
						<a href="" class="social-info">
							<span class="lnr lnr-heart"></span>
							<p class="hover-text">Wishlist</p>
						</a>
						<a href="" class="social-info">
							<span class="lnr lnr-sync"></span>
							<p class="hover-text">compare</p>
						</a>
						<a href="" class="social-info">
							<span class="lnr lnr-move"></span>
							<p class="hover-text">view more</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>
<script src="~/user/js/site.js"></script>



