@model QuanLyBanGiay_ADMIN.Models.ChiTietSanPham
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <h2 class="text-info">THÊM SIZE</h2>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="ThemSize">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Mã sản phẩm</label>
                            <input type="text" class="form-control" asp-for="MaSanpham" readonly>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Tên sản phẩm</label>
                            <input type="text" class="form-control" asp-for="Ten_Sanpham" readonly>
                        </div>
                        <div class="form-group">
                            <table class="table table-bordered text-center">
                                <label for="exampleInputEmail1">Hình ảnh</label>
                                <thead class="bg-aqua text-light">
                                    <tr>
                                        <th>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1" style="color:black">Ảnh 1</label>
                                                <input type="text" class="form-control" asp-for="Link1" readonly>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1" style="color:black">Ảnh 2</label>
                                                <input type="text" class="form-control" asp-for="Link2" readonly>
                                            </div>
                                        </th>
                                        <th>
                                            <div class="form-group">
                                                <label for="exampleInputEmail1" style="color:black">Ảnh 3</label>
                                                <input type="text" class="form-control" asp-for="Link3" readonly>
                                            </div>
                                        </th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <img class="product-image" src="~/img/product/@Model.Link1" />
                                        </td>
                                        <td>
                                            <img class="product-image" src="~/img/product/@Model.Link2" />
                                        </td>
                                        <td>
                                            <img class="product-image" src="~/img/product/@Model.Link3" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" style="color:black">SIZE</label>
                            @Html.DropDownList( "Ma_Size", new SelectList( ViewBag.Size_Moi,"Ma_Size","_Size") ,new { @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1" style="color:black">SỐ LƯỢNG</label>
                            <input type="text" class="form-control" name="SoLuong">
                        </div>
                        <br />
                        <button type="submit" class="btn btn-primary">THÊM</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>






